html {
  font-family: sans-serif;
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  /*background: url(../assets/bg.jpg);*/
}
.boxShadow {
  box-shadow: 0px 4px 0px rgba(204, 204, 204, 0.5);
}

/*the section below is the code for the contact information block*/
.contactInfo{
  width: 1024px;
  height: 361px;
  background-color: rgb(255, 255, 255);
}
.contactInfo__title{
  text-transform: capitalize;
  padding-top: 30px;
  padding-left: 30px;
  width: 50%;
  font-size: 31px;
  font-weight: 400;
  margin: 0px;
  color: rgb(55,55,50);
}
.contactInfo__text{
  width: 60%;
  padding-top: 10px;
  padding-left: 30px;
  margin: 0px;
  line-height: 2;
  font-size: 18px;
  color: rgb(83,83,83);
}
.form{
  position: absolute;
  right: 167px;
  top: 36px;
}
.contactInfo__social{
  display: block;
  font-size: 0px;
  width: 200px;
  margin-left: 20px;
  margin-top: 20px;
}
.contactInfo__social--button{
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.greyscale{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
/*form information adapted from http://www.w3schools.com/css/tryit.asp?filename=trycss_forms*/
.form__input {
  width: 100%;
  padding: 9px;
  margin: 25px 0;
  display: block;
  border: 1px solid rgba(150, 150, 150, 0.5);
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  border-top: 4px solid rgba(150, 150, 150, 0.5);
  border-left: 4px solid rgba(150, 150, 150, 0.5);
}
.form__submit {
  width: 60%;
  background-color: rgba(180, 41, 46, 1);
  color: white;
  padding: 9px 0px;
  margin: -9px 0px;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 16px;
}
